<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="NLog.log">
  <targets>
    <target name="log"
            xsi:type="File"
            encoding="UTF-8"
            fileName="${var:LOG_DIR}/${var:LOG_LEVEL}.log"
            archiveFileName="${var:LOG_DIR}/archive/{#}.${var:LOG_LEVEL}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            footer="${newline}">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <withHeader>false</withHeader>
        <quoting>Nothing</quoting>
        <column layout="${date:format=yyyy/MM/dd HH\:mm\:ss}"/>
        <column layout="${callsite}()"/>
        <column layout="${message}"/>
        <column layout="${exception:format=tostring}"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="log"/>
  </rules>
</nlog>